<!-- <div class="form-header">
  <input
    #myInput
    type="text"
    placeholder="Search for products ..."
    class="au-input au-input-xl"
    (keyup.enter)="doSearch(myInput.value)"
  />

  <button (click)="doSearch(myInput.value)" class="au-btn-submit" >Search</button>
</div> -->
<div class="d-flex mt-2">
<input #searchInput type="text" placeholder="Search" class="form-control me-2" (keyup.enter)="doSearch(searchInput.value)">
<button (click)="doSearch(searchInput.value)" class="btn btn-outline-primary mx-2">Search</button>
<button (click)="doReset()" class="btn btn-outline-success">Reset</button>
</div>
