<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3 bg-white border-bottom fixed-top shadow-sm">
<img src="/assets/images/cartify-logo.png" alt="logo" class="logo" style="max-height: 70px;">
  <nav class="my-2 text-uppercase fs-4">
    <a class="p-2" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="p-2" routerLink="/products" routerLinkActive="active" >Shop</a>
    <a class="p-2" routerLink="/contact" routerLinkActive="active" routerLink="/contact">Contact</a>
  </nav>
  <div>
    <div class="d-flex align-items-center">
      <app-cart-status></app-cart-status>
      <app-login-status></app-login-status>
    </div>
  </div>
</header >
